:root {
    --primary-color: #f35b04;
    --primary-light: #fcf1e7;
    --primary-dark: #161723;
    --secondary-color: #3d348b;
    --font-color: #525252;
    --bg-color: #fff;
    --nav-color: #fff;
    --heading-color: #011627;
    --footer-color: #080713;
    --border-radius: 6px;
    --border-radius-full: 15px;
    --border-color: transparent;
    --border-color-light: #ddd;
    --iframe-filter: grayscale(0%);
    --bg-grey: #f4f4f4;
    --bg-lightgray: #f8f9fa;
    --btn-bg: #e2e8f0;

    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #f35b04;
    --secondary: #3d348b;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --header-hight: 100px;
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-bold: 600;

    /*========== Margenes Bottom ==========*/
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------TAG CSS------------------------*/
html {
    font-family: sans-serif, "Poppins";
}

body {
    position: relative;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 28px;
    color: var(--font-color);
    letter-spacing: 0px;
    font-weight: 400;
}

button {
    cursor: pointer;
}

button, input {
    border: none;
    outline: none;
}

.content-1 {
    background-color: var(--bg-lightgray);
}

.rounded-circle {
    border-radius: 50% !important;
}

/*------------------MARGIN --------------------*/
.mt-0-5 {
    margin-top: 0.5rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-1-5 {
    margin-top: 1.5rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-2-5 {
    margin-top: 2.5rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-4-5 {
    margin-top: 4.5rem;
}

.mt-6 {
    margin-top: 6rem;
}


.mb-0-5 {
    margin-bottom: 0.5rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-1-5 {
    margin-bottom: 1.5rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-2-5 {
    margin-bottom: 2.5rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-4-5 {
    margin-bottom: 4.5rem;
}

.mb-6 {
    margin-bottom: 6rem;
}

/*------------------PADDING --------------------*/
.pt-0-5 {
    padding-top: .5rem;
}

.pt-1 {
    padding-top: 1rem;
}

.pt-1-5 {
    padding-top: 1.5rem;
}

.pt-2 {
    padding-top: 2rem;
}

.pt-2-5 {
    padding-top: 2.5rem;
}

.pt-3 {
    padding-top: 3rem;
}

.pt-4-5 {
    padding-top: 4.5rem;
}

.pt-6 {
    padding-top: 6rem;
}

.pb-0-5 {
    padding-bottom: .5rem;
}
.pb-1 {
    padding-bottom: 1rem;
}

.pb-1-5 {
    padding-bottom: 1.5rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.pb-2-5 {
    padding-bottom: 2.5rem;
}

.pb-3 {
    padding-bottom: 3rem;
}

.pb-4-5 {
    padding-bottom: 4.5rem;
}

.pb-6 {
    padding-bottom: 6rem;
}

/*------------------------HEADER-------------------------*/
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: var(--z-fixed);
}

header {
    display: grid;
}
.header {
    height: 100px;
    display: grid;
    align-items: center;
    transition: all .4s ease 0s;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header__container {
    /* display: flex;
    flex-wrap: wrap; */
    grid-template-columns: 1fr auto 1fr;
    display: grid;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header__navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.brand__logo {
    color: var(--white);
}

.sub-log {
    width: 40px;
    border-radius: 20px 20px 0 0;
    border-top: 8px solid var(--primary-color);
}

.searchbar__form {
    display: flex;
    align-items: center;
    flex: 1;
    position: relative;
}

.header__navbar {
    margin-left: 3rem;
    margin-right: auto;
    gap: 2rem
}

.navbar__searchbar {
    display: flex;
    align-items: center;
    /* flex: 1; */
    max-width: 800px;
    min-width: 400px;
}

.nav__list {
    display: flex;
    flex-direction: row;
}

.searchbar__input {
    display: flex;
    flex : 1;
    padding: 10px 50px 10px 20px;
    height: 48px;
    font-size: 17px;
    color: var(--font-color);
    font-weight: var(--font-medium);
    border-radius: var(--border-radius);
    position: relative;
    background-color: var(--bg-grey);
    border: 1px solid var(--border-color);
}

.searchbar__icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 200;
    font-size: var(--normal-font-size);
}

.nav__link {
    display: block;
    color: var(--white);
    opacity: .9;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: var(--font-medium);
    letter-spacing: .5px;
    position: relative;
    padding: .5rem .5rem;
    font-weight: 540;
}

.theme__container {
    width: 24px;
    height: 24px;
    margin-left: 10px
}

.moon__icon {
    height: 20px;
    width: 20px;
    /* border: 2px solid; */
    font-size: 20px;
    color: var(--white);
}
.nav__item {
    position: relative;
}

.nav__expand {
    position: absolute;
    top: 100%;
    min-width: 12rem;
    padding: 1rem 0;
    font-size: 1rem;
    color: #212529;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    transform: translateX(0);
    display: none;
    z-index: 2;
}

.expand__link {
    display: block;
    font-size: 17px;
    font-weight: 500;
    text-align: left;
    color: var(--font-color);
    padding: .25rem 1.5rem;
}

.expand__link {
    color: var(--font-color);
    background-color: transparent;
}

.nav__expand::before {
    content: '';
    width: 14px;
    height: 14px;
    position: absolute;
    /* background-color: #000; */
    top: -7px;
    left: 40px;
    transform: rotate(45deg);
    border-right: none;
    border-bottom: none;
    border-left: 1px solid rgba(0, 0, 0, .15) ;
    border-top: 1px solid rgba(0, 0, 0, .15) ;
    z-index: 10010;
    background-color: #fff;
}

.menu__icon {
    color: #fff;
    font-size: 24px;
    line-height: 24px;
    padding: 3px 5px;
    background: var(--primary-color);
    border-radius: 5px;
    margin-left: 15px;
    display: none;
}

.header__theme {
    display: flex;
    align-items: center;
    justify-content: end;
}

/*-------------------------scroll-header------------*/
.scroll-header {
    background-color: var(--bg-color);
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
    height: 80px;
}

.scroll-header .moon__icon,
.scroll-header .nav__link,
.scroll-header .brand__logo {
    color: var(--heading-color);
}

.btn {
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    transition: .3s ease-in;
    border-radius: var(--border-radius);
    cursor: pointer;
    display: inline-block;
    text-transform: capitalize;
    text-align: center;
}

.btn-primary {
    color: #fff;
    background-color: var(--primary-color);
    border-color: #f35b04;
}

/*-----------------------BANNER-----------------------------*/
.banner__container {
    background-size: cover;
    z-index: 1;
}

.banner-top1 {
    background: url('../assets/images/banner1.jpg') no-repeat center;
}

.banner-top2 {
    background: url('../assets/images/banner2.jpg') no-repeat center;
}

.banner-top3 {
    background: url('../assets/images/banner3.jpg') no-repeat center;
}

.banner__container::before {
    content: "";
    background: rgb(8 8 8 / 64%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1
}

.banner-view {
    min-height: 100vh;
    position: relative;
    display: grid;
    align-items: end;
    padding: 3rem 0;
    grid-template-rows: auto 200px;
}

.banner-info__container {
    max-width: 650px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.banner-info__container h5 {
    font-size: 56px;
    line-height: 66px;
    font-weight: 500;
    color: #fff;
}

.banner-info__container p {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    max-width: 580px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 28px;
}

.banner-info__container a {
    margin-top: 1.5rem;
    margin-right: .5rem;
}

.banner-info__container a i,
.btn i {
    font-size: 20px;
    font-weight: 600;
    transform: translateY(3px);
}

.grid {
    display: grid;
}

.banner__grids-inner {
    grid-template-columns: repeat(3, 1fr);
}

.banhny__grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 10px;
}
.banhny__grid  i {
    font-size: 30px;
    color: #fff;
}

.banhny__grid a {
    font-size: 22px;
    font-weight: 600;
    display: block;
    color: #fff;
    text-transform: capitalize;
}

.banhny__grid p {
    font-size: 17px;
    line-height: 28px;
    font-weight: 400;
    margin-top: 10px;
    opacity: .8;
    color: #fff;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 16px;
}

.swiper-button-next,
.swiper-button-prev{
    width: 46px;
    height: 46px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.21);
    border-radius: 50%;

}

/*---------------------------ABOUT, TOP COURSE, POST COMPONENT-------------------------------*/
.about .about__container {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.about__subtitle,
.top__description,
.post__description {
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
    position: relative;
    margin-bottom: 1rem;
}

.about__title,
.top__subtitle,
.post__subtitle {
    position: relative;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    font-style: normal;
    padding-left: 70px;
    color: var(--primary-color);
    text-transform: capitalize;
}
.about__title::before,
.top__subtitle::before,
.post__subtitle::before {
    content: '';
    width: 56px;
    height: 3px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: 50%;
}

/***----------------------COURSES COMPONENT ---------------*/
.top-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.courses {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    column-gap: 30px;
}

.course__item {
    background-size: cover;
    border-radius: var(--border-radius-full);
    height: 300px;
    align-items: flex-end;
    position: relative;
    z-index: 1;
    padding: 10px;
    transition: all .3s linear;
}

.course__item::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #000;
    opacity: .7;
    overflow: hidden;
    border-radius: var(--border-radius-full);
}

.course__item:hover {
    transform: translateY(-5px);
}

.course__item:nth-child(1) {
    background: url(../assets/images/ab.jpg) no-repeat 0px 0px;
}

.course__item:nth-child(2) {
    background: url(../assets/images/ab1.jpg) no-repeat 0px 0px;
}

.course__item:nth-child(3) {
    background: url(../assets/images/ab2.jpg) no-repeat 0px 0px;
}

.course__item:nth-child(4) {
    background: url(../assets/images/ab3.jpg) no-repeat 0px 0px;
}

.course__item:nth-child(5) {
    background: url(../assets/images/ab4.jpg) no-repeat 0px 0px;
}

.course__item:nth-child(6) {
    background: url(../assets/images/ab5.jpg) no-repeat 0px 0px;
}

.course__item:nth-child(7) {
    background: url(../assets/images/ab6.jpg) no-repeat 0px 0px;
}

.course__item:nth-child(8) {
    background: url(../assets/images/ab7.jpg) no-repeat 0px 0px;
}

.course__info {
    padding: 1.25rem;
    color: #fff;
    z-index: 333;
}

.course__item {
    display: grid;
    align-items: flex-end;
}

.course__count {
    color: #fff;
    font-size: 15px;
    line-height: 15px;
    opacity: .9;
    text-transform: capitalize;
}

.course__topic {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
    margin: .6rem 0 1rem 0;
    display: block;
    opacity: .9;
}

.course__author {
    grid-template-columns: 40px auto;
    column-gap: 1.5rem;
}

.course__prices {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.course__author .author__img {
    border: 2px solid #999;
    opacity: .9;
}

.course__prices .course__lessons,
.course__prices .course__price
{
    font-weight: 700;
    color: #fff;
    opacity: .9;
}

.course__item {
    margin-top: 3rem;
}

.btn__readmore-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn span .bx{
    font-size: 12px;
    vertical-align: 1px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #3d348b;
    border-color: #3d348b;
}
/*-------------------------OPTION COMPONENTS----------------------*/
.options__container {
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.option__item {
    padding: 40px 30px;
    border-radius: var(--border-radius-full);
    background-color: var(--bg-color);
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
    display: grid;
    column-gap: 15px;
    grid-template-columns: 65px auto;
}

.option__item,
.option__icon .option__title,
.option__item .option__description {
    transition: all .3s ease-in;
}

.option__item:hover {
    background-color: var(--primary-dark);
    color: #fff;
}

.option__item:hover .option__title a {
    
    color: #fff;
}

.option__item:hover .option__description {
   
    color: #fff;
}

.option__icon i,
.achievement__icon i
{
    font-size: 26px;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    background-color: var(--secondary-color);
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option__item .option__title a {
    font-size: 22px;
    font-weight: 600;
    display: block;
    color: var(--heading-color);
}


.btn-white {
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    transition: 0.3s ease-in;
    border-radius: var(--border-radius);
    background-color: #fff;
    color: var(--primary-color);
}

.middle {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: url(../assets/images/banner2.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    position: relative;
    z-index: 1;
}

.middle::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgb(16 15 19 / 66%);
    height: 100%;
    z-index: -1;
}

h3.welcome__title {
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
    color: #fff;
    max-width: 800px;
    text-align: center;
}

.welcome-left {
    max-width: 700px;
    margin: auto;
    text-align: center;
}

/*-----------------------achievements--------------------------*/
.achievements {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.achievements .achievement__item {
    border-radius: var(--border-radius-full);
    border: 1px solid var(--border-color);
    padding: 40px 20px;
    text-align: center;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    transition: .3s ease;
    background-color: var(--bg-color);
}

.achievements .achievement__item:hover {
    transform: translateY(-5px);
}
.achievement__counter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.achievement__count {
    font-size: 2.6rem;
    font-weight: 550;
    color: var(--heading-color);
}

.achievement__title {
    font-size: 1.1rem;
    text-transform: capitalize;
    color: var(--heading-color);
    font-weight: 520;
}

/*---------------------------------VIDEO PLAY-------------------------*/
.video__play {
    background: url(../assets/images/banner1.jpg);
    background-size: cover;
    z-index: 1;
    display: grid;
    align-items: center;
    min-height: 500px;
    border-radius: var(--border-radius-full);
    position: relative;
}

.video__play::before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgb(16 15 19 / 66%);
    z-index: -1;
    border-radius: var(--border-radius-full);
}

.video__play div{
    display: flex;
    justify-content: center;
    text-align: center;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.video__play-icon{
    display: inline-block;
    width: 80px;
    height: 80px;
    font-size: 35px;
    border-radius: 50%;
    line-height: 80px;
    transition: .3s ease-in-out;
    color: var(--primary-color);
    border: transparent;
    background: #fff;
    text-align: center;
    animation: ripple 1s linear infinite;
}

.video__play-icon:hover{
    width: 100px;
    height: 100px;
    font-size: 50px;
    border-radius: 50%;
    line-height: 100px;
    transition: .3s ease-in-out;
    color: #fff;
    background: var(--primary-color);
}


/*------------------------Overlay video----------------*/
.overlay__container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(8 8 8 / 85%);
    z-index: var(--z-fixed);
    display: grid;
    place-items: center;
    display: none;
}

.overlay__video button {
    width: 20px;
    height: 20px;
    font-size: 20px;
    position: absolute;
    top: -30px;
    right: 0;
}

.show-overlay {
    display: grid;
}


/*-- play icon animation --*/
@-webkit-keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgb(255 255 255 / 25%), 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
    }
  
    100% {
      box-shadow: 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
    }
}
  
@keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgb(255 255 255 / 25%), 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
    }
  
    100% {
      box-shadow: 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
    }
}
  

.video__play-icon span {
    font-size: 35px;
    line-height: 80px;
}

/*-----------------------------------LASTEST POSTS-----------------------------------------*/
.lastest-posts {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.post__item {
    border-radius: var(--border-radius-full);
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    transition: .3s ease;
}

.post__item:hover {
    transform: translateY(-5px);
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px,
    rgb(71 63 79 / 16%) 0px 5px 10px;
}

.post__item img {
    border-top-left-radius: var(--border-radius-full);
    border-top-right-radius: var(--border-radius-full);
}


.post__item .post__details  {
    padding: 25px;
    background: #fff;
    border-bottom-left-radius: var(--border-radius-full);
    border-bottom-right-radius: var(--border-radius-full);
} 

.post__title .post__link {
    color: var(--heading-color);
    font-weight: 550;
    font-size: 1.35rem;
    line-height: 1.33;
    margin: 1rem 0;
    display: block;
}

.post__author {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.post__author img {
    width: 40px;
    height: 40px;
}

.author__info {
    display: flex;
    flex-direction: column;
}

.author__info .author__name {
    color: var(--heading-color);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.form__group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    max-width: 750px;
    margin: 40px 0;
}

.form__input {
    padding: 10px 50px 10px 20px;
    height: 55px;
    font-size: 16px;
    color: var(--font-color);
    font-weight: var(--font-medium);
    border-radius: var(--border-radius);
    position: relative;
    background-color: var(--bg-grey);
    border: 1px solid var(--border-color);
    max-width: 750px;
}

.form__input:focus {
    border: 1px solid var(--primary-color);;
}

/*---------------------------------TOP COMMENT-------------------------------*/
.comments {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:30px;
}

.comment__detail {
    padding: 40px;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    border-radius: var(--border-radius-full);
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    margin: 2% auto 2%;
}

.comment__author {
    padding: 30px 20px;
    display: grid;
    grid-template-columns: 1fr 9fr;
    column-gap: 20px;
    align-items: center;
}

.comment__author .comment__img {
    height: 80px;
    width: 80px;
    max-width: unset;
}

.author__info .comment__username {
    font-size: 20px;
    font-weight: 600;
}

.comment__detail blockquote p::before {
    content: open-quote open-quote;
    font-size: 28px;
    color: var(--primary-color);
    font-weight: 600;
    display: inline-block;
}

.comment__detail blockquote p::after {
    content: "\201D";
    font-size: 28px;
    color: var(--primary-color);
    font-weight: 600;
    display: inline-block;
}

/*=============== FOOTER ===============*/
.footer {
    position: relative;
    overflow: hidden;
    background-color: var(--footer-color);
    color: #fff;
   
}

.footer__brand {
    font-size: 30px;
    font-weight: 530;
    color: #fff;
    text-transform: capitalize;
    display: inline-block;
}

.footer__container {
    grid-template-columns: 2fr 1fr 1fr 2fr;
    justify-content: center;
    column-gap: 1rem;
}

.footer__logo {
    color: var(--title-color);
    text-transform: lowercase;
    font-weight: var(--font-bold);
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    margin-bottom: var(--mb-1);
}

.footer__logo-icon {
    font-size: 1.25rem;
}

.footer__description {
    margin-bottom: var(--mb-2-5);
    color: #fff;
}

.footer__social {
    display: flex;
    column-gap: .75rem;
}

.footer__social-link {
    width: 36px;
    height: 36px;
    display: inline-block;
    color: var(--primary-color);
    background: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    transition: .3s linear;
}

.footer__social-link i {
    line-height: 36px;
}

.footer__social-link:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.footer__title {
    margin-bottom: var(--mb-2);
    font-size: 22px;
    margin-bottom: 2rem;
    font-weight: 530;
}

.footer__link {
    font-size: var(--small-font-size);
    color: var(--text-color);
    transition: .3s;
    font-size: 17px;
    line-height: 26px;
    color: #63676b;
    margin-bottom: 10px;
    display: inline-block;
}

.footer__link:hover {
    color: var(--primary-color);
}

.footer__copy {
    display: block;
    text-align: center;
    border-top: 1px solid rgb(255 255 255 / 5%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.copy__right {
    font-size: 17px;
    color: #ddd;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer__content p {
    font-size: 17px;
    line-height: 26px;
    color: #63676b;
}

.footer__content:nth-child(1){
    padding-right:3rem;
}

.copy__policy {
    display: flex;
    gap: 3rem;
}

.active {
    display: block;
}

.nav__active {
    color: var(--primary-color);
}

.people-comment {
    padding-bottom: 50px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--primary-color);
}
.swiper .swiper-pagination-bullet {
    height: 12px;
    width: 12px;
}

/*---------------------INNER BANNER--------------------*/
.breadcrumb__container {
    padding-top: 180px;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #fff;
}

.inner-banner {
    background:url(../assets/images/banner3.jpg) no-repeat center;
    background-size: cover;
    min-height: 300px;
    position: relative;
    z-index: 1;
}

.inner-banner::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: rgb(0 0 0 / 70%);
    height: 100%;
    z-index: -1;
}

.breadcrumb__home {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 500;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1200px) {
    .container {
        max-width: 990px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 992px) {

    header {
        transition: all .3s ease-in-out;
    }
    
    .searchbar__input {
        padding: 10px 20px 10px 20px;
    }

    .container {
        max-width: 720px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto ;
        margin-right: auto;
        width: 100%;
    }

    .header {
        height: 80px;
    }
    .header__container {
        grid-template-areas: 'h1 h2'
        'h3 h3';
        grid-template-columns: 1fr 1fr;
        gap:20px
    }

    .header__brand {
        grid-area: h1;
        padding: 15px;
    }

    .header__theme {
        grid-area: h2;
        justify-content: flex-end;
    }

    .nav__list {
        flex-direction: column;
        gap: .5rem;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .header__navbar {
        display: none;
        grid-area: h3;
        flex-direction: column;
        margin-left: auto;
    }

    .menu__icon {
        display: block;
    }
    /* .navbar__searchbar {
        display: none;
    }

    .header__nav {
        display: none;
    } */

    .about .about__container {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }

    .options__container {
        grid-template-columns: 1fr;
        row-gap: 30px;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .lastest-posts {
        grid-template-columns:  repeat(auto-fill, minmax(260px, 1fr));
        gap: 30px;
    }

    .footer__container {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 1rem;
    }

    .footer__copy { 
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .copy__right {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    header.header-active {
        height: auto;
        /* background-color:rgba(0, 0, 0, 0.7); ; */
    }

    header.header-active.dark {
        height: auto;
        background-color:rgba(0, 0, 0, 0.7); ;
    }

}

/* For medium devices */
@media screen and (max-width: 767px) {
    .banner__grids {
        display: none;
    }

    .container {
        max-width: 576px;
    }

    .achievements {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .posts .posts-container .form__group {
        grid-template-columns: 1fr;
        gap: 15px;
    }
}

@media screen and (max-width: 576px) {
    .posts {
        padding-bottom: 0;
        padding-top: 0  ;
    }

    #footer .container {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .footer__container {
        grid-template-areas: 
        "h1 h1"
        "h2 h3"
        "h4 h4";
        grid-template-columns: 1fr 1fr;
        row-gap: 2rem;
    }

    .footer__container .footer__content:nth-child(1) {
        grid-area: h1;
    }
    .footer__container .footer__content:nth-child(2) {
        grid-area: h2;
    }
    .footer__container .footer__content:nth-child(3) {
        grid-area: h3;
    }
    .footer__container .footer__content:nth-child(4) {
        grid-area: h4;
    }
}
@media screen and (max-width: 475px) {
    .header__brand  {
        padding: 0;
    }
    .navbar__searchbar {
        min-width: 200px;
    }

    .achievements {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .welcome__buttons a:nth-child(2)  {
        margin-right: 0.5rem;
        margin-top: 1rem;
    }

    .overlay__video video {
        width: 100vw;
        height: auto;
    }
}

/* For small devices */
@media screen and (max-width: 320px) {
    .options__container .option__item {
        grid-template-columns: 1fr;
        row-gap: 1.5rem;
    }

    .copy__policy {
        gap: 1rem;
    }

}


